@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

*{
    margin: 0;
    padding: 0;

}
cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../media/pattern.png) repeat top left;
}
.li{
    display: inline;
}


/*
.cb-slideshow li:nth-child(1) span {
    background-image: url(../media/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../media/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../media/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../media/1.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../media/2.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../media/3.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}*/
@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
        -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% { opacity: 0;
        -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% { opacity: 0;
        -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% { opacity: 0;
        -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% { opacity: 0;
        animation-timing-function: ease-in; }
    8% { opacity: 1;
        animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}

.frame{
    position: fixed;
    width: 95%;
    opacity: 0.8;
    height: 90%;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}

header{
    width: 100%;
    height: auto;
}

nav{
    z-index: 1000;
    background: #282828;
    overflow: hidden;
    position: absolute;
    width: 100%;
    box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
    -webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
}

.logo-section{
    float: left;
    margin-left: 4vh;
    padding: 3vh;
    font-family: serif;
    background: url(../images/novum.png) center / contain no-repeat;
    width: 150px;
    cursor: pointer;
    padding-bottom: 5vh;
}
.opened-menu{
    position: absolute;
    top: 10%;
    width: calc(150px + 4vh);
    min-width: 150px;
    padding-left: 10px;
    height: 20%;
    background-color: #282828;
    color: #FFFFFF;
    z-index: 10000;
    visibility: hidden;

}

.hb-button{
    float: right;
    position: absolute;
    right: 15px;
    top: 15px;
    background: #222;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px;
}

nav ul{
    overflow: hidden;
    color: #282828;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

nav ul li{
    float: right;
    display: inline-block;
    padding: 20px;
}

li > a{
    position: relative;
    color: #FFF;
    text-decoration: none;

}

li > a:hover{
    color: #FFF;
    text-decoration: none;
}

li > a:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

li > a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

body{
    font-family: sans-serif;
    height: auto;
    overflow: hidden;
}

.img-wrapper{
    width: 100%;
}

img{
    margin-top: 60px;
    width: 100%;
}
.pre-scrollable{
    position: absolute;
    padding: 15px;
    top: 20%;
    left:8%;
    opacity: 0.7;
    color:white;
    background-color: #222222;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap:break-word;
}

.about{
    position: absolute;
    width: 100%;
    z-index: 4;
    background-color: rgba(178,178,178,0.2);

}
.ismerteto{
    padding: 50px;
    padding-bottom: 0px;
    text-align:center;
    font-size: 4vw;

    text-transform: uppercase;
}
.line{
    border: thick solid #0014AD;
     width: 20%; 
     margin:0 auto;
     margin-bottom: 5%;

}
.margin{
    margin-bottom:5%;
}
.image{
    max-height: 30vw;
    margin-top: 0;
    background: #0014AD;
}
.image:hover{
    background: white;
    cursor: pointer;
}
 .hover-bg{

	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #000;
	background: rgba(255, 255, 255, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4{
	opacity: 0;
	-webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4{
	opacity: 1;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.hover-bg .hover-text>i{
	opacity: 0;
	-webkit-transform: translateY(0);
            transform: translateY(0);
            transition: all 0.3s;
}
.hover-bg:hover .hover-text>i{
	opacity: 1;
    -webkit-backface-visibility:hidden;
   -webkit-transform: translateY(100%);
            transform: translateY(100%);
}
.hover-bg:hover .hover-text{
	opacity: 1;
}
.content{
    font-size: calc(4pt + 1vw);
    text-align: center;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"]
{ font:400 12px/16px "Open Sans",
Helvetica, Arial, sans-serif; }
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 10px;
    padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    resize:none;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background: black;
    color:#FFF;
    margin:0 0 10px;
    padding:10px;
    font-size:15px;
}

#contact button[type="submit"]:hover {
    background:#626262;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

#contact h3 {
    color: #282828;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin:0px 0 15px;
    display:block;
    font-size:13px;
}
#contact  {
    margin-left: -15px;

}

#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


@media only screen and (max-width: 800px){
    .container{
        min-height: 70%;
    }
    .logo-section{
        float: none;
    }
    nav ul{
        background: #282828;
        max-height: 0;
        width: 100%;
    }
    nav ul.show{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .hb-button{
        display: inline;
    }
}


@media only screen and (min-width: 1400px) {
    .pre-scrollable{
        min-width: 85%;
    }

}

