@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

*{
    font-family: 'Roboto', sans-serif;
}
body{
    overflow:hidden;
}
cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow:after {
    content: '';
    background: transparent url(../media/pattern.png) repeat top left;
}
.li{
    display: inline;
}


/*
.cb-slideshow li:nth-child(1) span {
    background-image: url(../media/1.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../media/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../media/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../media/1.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../media/2.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url(../media/3.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}*/
@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
        -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% { opacity: 0;
        -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% { opacity: 0;
        -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% { opacity: 0;
        -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
        -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% { opacity: 0;
        animation-timing-function: ease-in; }
    8% { opacity: 1;
        animation-timing-function: ease-out; }
    17% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}


.frame{
    position: fixed;
    width: 95%;
    opacity: 0.8;
    height: 90%;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
}
.extra-margin{
    margin-top:10vh!important;
}
.extra-margin-bottom{
    margin-bottom:5vh!important;
}
.about{
    background-color: #222222;
    z-index: 52;
    position: fixed;
    width: 70vw;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    margin-top: 18vw;
    height: calc( 100vh - 50vw);
    min-height: 200px;
    opacity: 0.7;
}

.blackstripe{
    margin: 0;
    width: 100%;
    height: 8%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: black;
}
.box{
    z-index: 100;
    position: absolute;
    width: 21vw;
    height: 4vw;
    -webkit-transition: background-color 1s, height 1s,margin-top 1s;
    transition: background-color 1s, height 1s,margin-top 1s;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.box:hover{
    background-color: #222222;
}
.left{
    left:1.1vw;
}
.upper{
    margin-top:0.7vw;
}
.right{
    right:1.1vw;
}
.downer{
    bottom: 0.7vw;
    width: 25vw;
}

.menuText{
    font-size: 1.1vw;
    color: white;
    position: absolute;
    width: 21vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    left: 0px;
    bottom: 0px;
    text-align: left;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
}

#menutext4{
    left:4vw;
    text-align:right;
    margin-left: 0;

}
#menutext3{
    text-align:right;
    margin-left: 0%;
}
#menutext5{
    text-align:right;
    margin-left: 0%;
}
.rightsquare{
    color: white;
    position: absolute;
    top:0.8vw;
    right: 1vw;
    text-align: right;
    opacity: 0;
    font-size: 1.5vw;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
#square3{
    left: 1vw;
    right: 0%;
    text-align:left;
    margin-left: 0;
}
#square4{
    left: 1vw;
    right: 0%;
    text-align:left;
    margin-left: 0%;
}

ul{
    display: inline;
}
#us{
    opacity: 0;
    position: absolute;
    left: 3vw;
    top: 8vw;
    color:white;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}
.drop2{
    width: 21vw!important;
        -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.drop1{
    width: 25vw;
      -webkit-transform-origin: top;
  transform-origin: top;

}
.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  
}

.dropdown-menu {
  padding: 20px 20px;
  left:auto;
    background-color: #222222;
    color:white;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block;
  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropdown-item{
    overflow: hidden;
}
.oval{
    cursor: pointer;
    position: fixed;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    margin-top: 10vw;
    width: 23vw;
    height: 12vw;
    background-color: #222222;
    opacity: 1;
    z-index: 100;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-border-radius: 3vw  / 3vw;
    -webkit-border-radius: 3vw  / 3vw;
    border-radius: 3vw / 3vw;
}
.oval:hover{
    height: 25vw;
}
.blue {
    text-transform: uppercase;
    font-family: "Arial Black";
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    -webkit-animation: drawblue 10s forwards;
    -moz-animation: drawblue 10s forwards;
    -o-animation: drawblue 10s forwards;
    -ms-animation: drawblue 10s forwards;
    animation: drawblue 10s forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes drawblue {

    100% {
        fill: blue;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }

}
@-moz-keyframes drawblue {

    100% {
        fill: blue;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }

}
@-o-keyframes drawblue {

    100% {
        fill: blue;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
@-ms-keyframes drawblue {

    100% {
        fill: blue;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
@keyframes drawblue {

    100% {
        fill: blue;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}

.black {
    text-transform: uppercase;
    font-family: "Arial Black";
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    -webkit-animation: drawwhite 10s forwards;
    -moz-animation: drawwhite 10s forwards;
    -o-animation: drawwhite 10s forwards;
    -ms-animation: drawwhite 10s forwards;
    animation: drawwhite 10s forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes drawwhite {
    100% {
        fill: black;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
@-moz-keyframes drawwhite {
    100% {
        fill: black;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
@-o-keyframes drawwhite {
    100% {
        fill: black;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
@-ms-keyframes drawwhite {
    100% {
        fill: black;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
@keyframes drawwhite {
    100% {
        fill: black;
        opacity: 1;
        stroke-dashoffset: 0;
        stroke-width: 0;
    }
}
svg{
    position: absolute;
}
.hiddenText{
    margin-left: 3vw;
    margin-top: 1vw;
    text-align: left;
    font-size: 1vw;
    opacity: 0;
    color: white;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.smallDropdown{
    margin-left:15vw!important;
}
body{
    background: #ECECEC;
    margin:0px ;
    color:#333;
}
.text{
    color:white;    
}
.myButton {
    position:relative;
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #ffffff 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ccc2a6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:calc(4pt + 0.1vw);
	font-weight:bold;
	padding:calc(4px + 0.05vw) calc(1px + 0.05vw);
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#ffffff',GradientType=0);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.szlogen{
    background-color: #222222;
    z-index: 100;
    position: absolute;
    width: 30vw;
    opacity: 0.9;
    height: 3vw;
    left:0;
    right:0;
    bottom:10%;
    margin:auto;
}


@media only screen and (max-width: 800px) {
    .about{
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #222222;
        z-index:53;
        width: 70vw;
        margin:auto;
        margin-top: 20.5vw;
        height: calc( 100vh - 50vw);
        min-height: 200px;
        opacity: 0.7;
    }
    .dropdown-menu{
        box-shadow: 0 0 black;
        padding-top:0;        
       background: rgba(0,0,0,0);
       border-width:0;
    }

    .button {
        margin-left: 10%;
    }

    .box {
        width: 100%;
    }

    .menuText {
        top: -1vw;
        text-align: center;
        width: 100%;
        font-size: 1rem;
    }

    .hiddenText {
        opacity: 1;
        width: 100%;
        margin-top: 4%;
        margin-left: 10%;
    }

    .right {
        left: 1.1vw;
        right: 0;
    }

    #box1 {
        top: 9vh;
        pointer-events: none;
    }

    #box2 {
        top: 22.5vh;
        pointer-events: none;
    }

    #box3 {
        top: 36vh;
        pointer-events: none;
    }

    #box4 {
        top: 51vh;
        pointer-events: none;
    }
    #menutext3, #menutext4 {
        left: 0vw;
        text-align: center;
        margin-left: 0;
    }

    #us {
        font-size: 2vw;
        opacity: 1;
        margin-left: 1vw;
    }

    .oval {
        height: 20vw;
        top: 0;
    }

    .copyright {
        bottom: -1vw;
        font-size: 2vw;
        color: white
    }
}
@media only screen and (min-width: 2000px) {
    .about{
        min-height: 500px;
    }
    #us{
        font-size: 1vw;
    }

}
