<!DOCTYPE html>
<html >
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <title>Energia Nóvum</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/responsive_navbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
{% for obj in backgrounds %}
    {% if forloop.first %}
    .cb-slideshow li:nth-child(1) span {
        background-image: url({{obj.kep.url}})
    }
    {% endif %}
    {% if forloop.last %}
    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -moz-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -o-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -ms-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
    }
    {% endif %}
    .cb-slideshow li:nth-child( {{ forloop.counter }}) span {
        background-image: url({{obj.kep.url}});
        -webkit-animation-delay: calc(4s * {{ forloop.counter0 }});
        -moz-animation-delay: calc(4s * {{ forloop.counter0 }});
        -o-animation-delay: calc(4s * {{ forloop.counter0 }});
        -ms-animation-delay: calc(4s * {{ forloop.counter0 }});
        animation-delay: calc(4s * {{ forloop.counter0 }});
    }
{% endfor %}
</style>

<body style="background-color: #222222">
<div class="frame">
    <ul class="cb-slideshow" style="list-style-type: none;">
    {% for obj in backgrounds %}
        <li><span >Image 01</span></li>
    {% endfor %}
    </ul>
</div>


<div class="container pre-scrollable" id="style-1"  style="width: 85vw;min-height: 70%">
    <div class="row">
        <div id="rolunk" class="col-md-12 about" >
            <h1 class="ismerteto">Ismertető</h1><br>
            <div style="border: thick solid #0014AD; width: 20%; margin:0 auto"></div>
            <p style="margin-left: 10%;margin-right: 13%;margin-top: 5%">
                {% for obj in content %}
                    {% if obj.kategoria == type %}
                        {{ obj.tartalom }}
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <h1 class="ismerteto">Referencák</h1><br>
    <div class="line" ></div>
    {% for obj in object_list %}
    {% if obj.kategoria == type %}
    <div class="row margin" >
        <div class="col-5 offset-1" >
            <div class="hover-bg">
                <div class="hover-text">
                    <h4>{{ obj.cim }}</h4>
                    <div class="clearfix"></div>
                </div>
                {% if obj.kep %}
                    <img src='{{ obj.kep.url }}' class="img-thumbnail image" >
                {% endif %}
        </div>
        </div>
        <div class="col-5 content" >
            {{obj.tartalom}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row" style=" background-color: rgba(178,178,178,0.2);">
        <div class="col-md-12">
            <div class="headerContainer">
                <h1 class="ismerteto">Kapcsolat</h1><br>
                <div style="border: thick solid #0014AD; width: 10%; margin:0 auto"></div>
            </div>
        </div>
    </div>
    <div class="row" style=" background-color: rgba(178,178,178,0.2);padding-top: 2vw">
        <div class="offset-md-1 col-md-10 offset-md-1">
            <div id="map" style="width: 100%;height: 20vw"></div>
            <script>
                function initMap() {
                    var uluru = {lat: 46.6789133, lng: 21.10399940000002};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 8,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6hmTaOdLfg7Fn2k4slEVeqmb1Paji6Ho&callback=initMap">
            </script>
        </div>
    </div>


   
</div>


</body>
</html>