{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energia Novum</title>
</head>
<style>
{% for obj in backgrounds %}
    {% if forloop.first %}
    .cb-slideshow li:nth-child(1) span {
        background-image: url({{obj.kep.url}})
    }
    {% endif %}
    {% if forloop.last %}
    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -moz-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -o-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -ms-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
    }
    {% endif %}
    .cb-slideshow li:nth-child( {{ forloop.counter }}) span {
        background-image: url({{obj.kep.url}});
        -webkit-animation-delay: calc(4s * {{ forloop.counter0 }});
        -moz-animation-delay: calc(4s * {{ forloop.counter0 }});
        -o-animation-delay: calc(4s * {{ forloop.counter0 }});
        -ms-animation-delay: calc(4s * {{ forloop.counter0 }});
        animation-delay: calc(4s * {{ forloop.counter0 }});
    }
{% endfor %}

@media only screen and (min-width:800px ) {
    .bottomText{
        font-size: 2.1rem;
        margin-bottom: 0.6%!important;
    }
    .szlogen h4{
        margin-top: 0.7rem;
        font-size: 3.6rem;
    }
    .szlogen{
        height:5rem;
        bottom: 13vw;
        width: 40vw;
    }
}
@media only screen and (min-width:1840px ) {
    .bottomText{
        font-size: 4.1rem;
        margin-bottom: 0.6%!important;
    }
    .szlogen h4{
        margin-top: 0.7rem;
        font-size: 3.6rem;
    }
    .szlogen{
        height:5rem;
        bottom: 13vw;
        width: 40vw;
    }
}
</style>
<body style="background-color: #222222">
<div class="frame">
    <ul class="cb-slideshow" style="list-style-type: none;">
        {% for obj in backgrounds %}
            <li><span ></span></li>
        {% endfor %}
    </ul>
</div>

<div id="not" class="oval"  onmouseover="showtext()" onmouseout="unshowtext()">
    <svg style="left:-6vw; top:-1.5vw;width: 100%" >
        <text class="blue" fill="white" x="7.0vw" y="5.9vw"  stroke="black" stroke-width="2" font-size="3vw" font-style="italic">E</text>
    </svg>
    <svg style="left:4vw; top:-1.5vw;width: 100%">
        <text class="blue" fill="white" x="7.2vw" y="5.9vw"  stroke="black" stroke-width="2" font-size="3vw" font-style="italic">ergia</text>
    </svg>
    <svg style="left:-5.5vw; top:2.2vw;width: 100%">
        <text class="blue"  fill="white" x="7.1vw" y="5.9vw" stroke="blue" stroke-width="2" font-size="10.5vw" font-style="italic">N</text>
    </svg>
    <svg style="left:3vw; top:2.2vw;width: 100%" >
        <text class="blue"  fill="white" x="7.2vw" y="5.9vw" stroke="blue" stroke-width="2" font-size="3vw" font-style="italic">óvum</text>
    </svg>
    <h4 style="position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 0;" class="copyright">© 2005</h4>
    <div id="us">
        <ul>
            <li>
                as
            </li>
            <li>
                as
            </li>
        </ul>
    </div>

</div>
<div class="about" >


   <div id="box1" class="left upper box dropup">
    <div  class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onmouseover="change(1)" onmouseout="unchange(1)">
        <ul style="width: 100%">
            <li id="menutext1" class="menuText li">
                Intelligens házak
            </li>
            <li id="square1" class="rightsquare li">
                	&#9632;
            </li>

        </ul>
    </div>
  <div id="menu1" class="dropdown-menu drop2" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item text" > asdaaaaa</p>
    <a  href="/intelligens" >Bővebben...</a> </div>

</div>
    <div id="box2" class="left downer box dropdown">
    <div  class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onmouseover="change(2)" onmouseout="unchange(2)">
        <ul style="width: 100%">
            <li id="menutext2" class="menuText li">
                Generál kivitelezés
            </li>
            <li id="square2" class="rightsquare li">
                	&#9632;
            </li>

        </ul>
    </div>
  <div id="menu2"  class="dropdown-menu drop1" aria-labelledby="dropdownMenuButton">
 <p class="dropdown-item text" > asdaaaaa</p>
    <a  href="/kivitelezes" >Bővebben...</a>
     </div>
</div>
   <div id="box3" class="right upper box dropup">
    <div  class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onmouseover="changeLeft(3)" onmouseout="unchangeLeft(3)">
        <ul style="width: 100%">
            <li id="menutext3" class="menuText li">
                Napelemes erőmű
            </li>
            <li id="square3" class="rightsquare li">
                	&#9632;
            </li>

        </ul>
    </div>
  <div id="menu3"  class="dropdown-menu drop2" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item text" > asdaaaaa</p>
    <a  href="/napelem">Bővebben...</a>
  </div>
</div>

    <div id="box4" class="right downer box dropdown">
   <div  class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onmouseover="changeLeft(4)" onmouseout="unchangeLeft(4)">
      <ul style="width: 100%">
            <li id="menutext4" class="menuText li">
                RB technika
            </li>
            <li id="square4" class="rightsquare li">
                     	&#9632;  
            </li>
        </ul>   
    </div>
  <div id="menu4"  class="dropdown-menu drop1" aria-labelledby="dropdownMenuButton">
 
 <p class="dropdown-item text" > asdaaaaa</p>
    <a  href="/rb" >Bővebben...</a>
     </div>
</div>
</div>
<div class="szlogen">
    <h4 style="text-align: center; color: #FFFFFF; text-transform: uppercase;">ez a szlogenünk</h4>
</div>
<a href="#" class="bottomText" style="position: absolute; bottom: 0.2vw; color: #FFFFFF;margin-left: 10vw; text-decoration: underline;">Adatvédelem</a>
<h3 class="bottomText" style="position: absolute;  color: #FFFFFF;margin-left: 50vw;bottom: 0.2vw">Telefonszám/fax: 0123456789</h3>
  <script>
  

     if ($(window).width() < 801) {
         window.location.href='/mobile';
    }
        
        function change(id) {
            document.getElementById('menutext'+id).style.marginLeft = '2vw';
            document.getElementById('square'+id).style.opacity = '1';
        }
        function unchange(id) {
            document.getElementById('menutext'+id).style.marginLeft = '0vw';
            document.getElementById('square'+id).style.opacity = '0';
        }
        function changeLeft(id) {
            document.getElementById('menutext'+id).style.marginLeft = '-2vw';
            document.getElementById('square'+id).style.opacity = '1';
        }
        function unchangeLeft(id) {
            document.getElementById('menutext'+id).style.marginLeft = '0vw';
            document.getElementById('square'+id).style.opacity = '0';
        }
        function showtext() {
            document.getElementById('us').style.opacity = '1';
        }
        function unshowtext() {
            document.getElementById('us').style.opacity = '0';

        }

    </script>
</body>
</html>szlogen