{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energia Novum</title>
</head>
<style>
{% for obj in backgrounds %}
    {% if forloop.first %}
    .cb-slideshow li:nth-child(1) span {
        background-image: url({{obj.kep.url}})
    }
    {% endif %}
    {% if forloop.last %}
    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        -webkit-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -moz-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -o-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        -ms-animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
        animation: imageAnimation calc(4s * {{ forloop.counter }}) linear infinite 0s;
    }
    {% endif %}
    .cb-slideshow li:nth-child( {{ forloop.counter }}) span {
        background-image: url({{obj.kep.url}});
        -webkit-animation-delay: calc(4s * {{ forloop.counter0 }});
        -moz-animation-delay: calc(4s * {{ forloop.counter0 }});
        -o-animation-delay: calc(4s * {{ forloop.counter0 }});
        -ms-animation-delay: calc(4s * {{ forloop.counter0 }});
        animation-delay: calc(4s * {{ forloop.counter0 }});
    }
{% endfor %}
@media only screen and (max-width: 350px) {
    .bottomText{
        font-size: 0.8rem;
        margin-bottom: 3%!important;
    }
    .szlogen h4{
        margin-top: 2vw;
        font-size: 1rem;
    }
    .szlogen{
        height:8vw;
        bottom: 13vw;
        width: 70vw;
    }
}
@media only screen and (min-width:350px ) and (max-width: 400px) {
    .bottomText{
        font-size: 0.9rem;
        margin-bottom: 3%!important;
    }
    .szlogen h4{
        margin-top: 2vw;
        font-size: 1rem;
    }
    .szlogen{
        height:8vw;
        bottom: 13vw;
        width: 70vw;
    }
}
@media only screen and (min-width:400px ) and (max-width: 500px) {
    .bottomText{
        font-size: 1.1rem;
        margin-bottom: 2.0%!important;
    }
    .szlogen h4{
        margin-top: 1.3vw;
        font-size: 1.4rem;
    }
    .szlogen{
        height:8vw;
        bottom: 13vw;
        width: 70vw;
    }
}
@media only screen and (min-width:500px ) and (max-width: 800px) {
    .bottomText{
        font-size: 1.3rem;
        margin-bottom: 1.2%!important;
    }
    .szlogen h4{
        margin-top: 1.3vw;
        font-size: 1.6rem;
    }
    .szlogen{
        height:8vw;
        bottom: 13vw;
        width: 70vw;
    }
}
</style>
<body style="background-color: #222222">
<div class="frame">
    <ul class="cb-slideshow" style="list-style-type: none;">
        {% for obj in backgrounds %}
            <li><span ></span></li>
        {% endfor %}
    </ul>
</div>

<div id="not" class="oval"  onmouseover="showtext()" onmouseout="unshowtext()">
    <svg style="left:-6vw; top:-1.5vw;width: 100%" >
        <text class="blue" fill="white" x="7.0vw" y="5.9vw"  stroke="black" stroke-width="2" font-size="3vw" font-style="italic">E</text>
    </svg>
    <svg style="left:4vw; top:-1.5vw;width: 100%">
        <text class="blue" fill="white" x="7.2vw" y="5.9vw"  stroke="black" stroke-width="2" font-size="3vw" font-style="italic">ergia</text>
    </svg>
    <svg style="left:-5.5vw; top:2.2vw;width: 100%">
        <text class="blue"  fill="white" x="7.1vw" y="5.9vw" stroke="blue" stroke-width="2" font-size="10.5vw" font-style="italic">N</text>
    </svg>
    <svg style="left:3vw; top:2.2vw;width: 100%" >
        <text class="blue"  fill="white" x="7.2vw" y="5.9vw" stroke="blue" stroke-width="2" font-size="3vw" font-style="italic">óvum</text>
    </svg>
    <h4 style="position: absolute;bottom: 0;text-align: center;width: 100%;margin-bottom: 0;" class="copyright">© 2005</h4>
    <div id="us">
        <ul>
            <li>
                as
            </li>
            <li>
                as
            </li>
        </ul>
    </div>

</div>
<div class="about" >
    <div class="row extra-margin">
        <div class="col-3"></div> 
        <div class="col-6 ">
            <h6 style="color:white;text-align:center">INTELLIGENS HÁZAK</h6>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-10 ">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, purus aliquam placerat pulvinar, quam turpis ultricies metus, et efficitur ipsum nunc a justo. Cras et nunc dui. Proin non odio eu erat pharetra tempor non vitae orci. Maecenas id convallis est, ut finibus ligula. In sed suscipit sapien. Suspendisse nec sapien mollis</p>
        </div>
    </div>
    <div class="row extra-margin-bottom">
    <div class="col-1"></div> 
        <div class="col-3 ">
             <a  href="/intelligens" >Bővebben</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-3"></div> 
        <div class="col-6 ">
            <h6 style="color:white;text-align:center">GENERÁL KIVITELEZÉS</h6>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-10 ">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, purus aliquam placerat pulvinar, quam turpis ultricies metus, et efficitur ipsum nunc a justo. Cras et nunc dui. Proin non odio eu erat pharetra tempor non vitae orci. Maecenas id convallis est, ut finibus ligula. In sed suscipit sapien. Suspendisse nec sapien mollis</p>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-3 extra-margin-bottom">
             <a  href="/kivitelezes" >Bővebben</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-3"></div> 
        <div class="col-6 ">
            <h6 style="color:white;text-align:center">RB TECHNIKA</h6>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-10 ">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, purus aliquam placerat pulvinar, quam turpis ultricies metus, et efficitur ipsum nunc a justo. Cras et nunc dui. Proin non odio eu erat pharetra tempor non vitae orci. Maecenas id convallis est, ut finibus ligula. In sed suscipit sapien. Suspendisse nec sapien mollis</p>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-3 extra-margin-bottom">
             <a  href="/rb" >Bővebben</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-3"></div> 
        <div class="col-6 ">
            <h6 style="color:white;text-align:center">NAPELEMES ERŐMŰ</h6>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-10 ">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, purus aliquam placerat pulvinar, quam turpis ultricies metus, et efficitur ipsum nunc a justo. Cras et nunc dui. Proin non odio eu erat pharetra tempor non vitae orci. Maecenas id convallis est, ut finibus ligula. In sed suscipit sapien. Suspendisse nec sapien mollis</p>
        </div>
    </div>
    <div class="row ">
    <div class="col-1"></div> 
        <div class="col-3 ">
             <a  href="/napelem" >Bővebben</a>
        </div>
    </div>

</div>
<div class="szlogen">
    <h4 style="text-align: center; color: #FFFFFF; text-transform: uppercase;">ez a szlogenünk</h4>
</div>
<a href="#" class="bottomText" style="  position: absolute; bottom: 0vw; color: #FFFFFF;margin-left: 10vw; text-decoration: underline;">Adatvédelem</a>
<p class="bottomText" style="position: absolute; bottom: 0.0vw; color: #FFFFFF;margin-left: 40vw;margin-bottom:0">Telefonszám/fax: 0123456789</p>
  <script>
  

     if ($(window).width() < 451) {
         if(!window.location.href.indexOf("mobile")){
            window.location.href='/mobile';
         }
    }

        
        function change(id) {
            document.getElementById('menutext'+id).style.marginLeft = '2vw';
            document.getElementById('square'+id).style.opacity = '1';
        }
        function unchange(id) {
            document.getElementById('menutext'+id).style.marginLeft = '0vw';
            document.getElementById('square'+id).style.opacity = '0';
        }
        function changeLeft(id) {
            document.getElementById('menutext'+id).style.marginLeft = '-2vw';
            document.getElementById('square'+id).style.opacity = '1';
        }
        function unchangeLeft(id) {
            document.getElementById('menutext'+id).style.marginLeft = '0vw';
            document.getElementById('square'+id).style.opacity = '0';
        }
        function showtext() {
            document.getElementById('us').style.opacity = '1';
        }
        function unshowtext() {
            document.getElementById('us').style.opacity = '0';

        }

    </script>
</body>
</html>